@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
}

.navbar {
  width: 100%;
  background-color: transparent;
}

.navbar .navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
}

.navbar .navbar__container .navbar__logo {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.445);
}

.navbar .navbar__container .navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__container .navbar__nav .navbar__item {
  margin: 1rem;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.navbar .navbar__container .navbar__nav .navbar__item .navbar__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #c49897;
  font-weight: 600;
}

.navbar .navbar__container .navbar__nav .navbar__item .navbar__link:hover {
  color: #d32020;
}

.navbar .navbar__container .navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 25rem;
  width: 300px;
}

.navbar .navbar__container .navbar__search input {
  border: none;
  border-bottom: 1px solid #c49897;
  padding: 0.3rem 1rem;
  background: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar__container .navbar__search input:focus {
  outline: none;
  border-bottom: 1px solid #d32020;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .navbar__container .navbar__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
}

.navbar .navbar__container .navbar__account .navbar__icon {
  color: #c49897;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.navbar .navbar__container .navbar__account .navbar__icon:hover {
  cursor: pointer;
  color: #d32020;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .navbar__container .navbar__account .navbar__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar__container .navbar__account .navbar__cart .navbar__cart--qty {
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  background-color: #d32020;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.74);
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.navbar .navbar__container .navbar__account .navbar__cart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  background-image: url("https://supro.arrowtheme.com/pub/media/wysiwyg/slider/slider-full-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

.slider .slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.slider .slider__container .slider__social {
  position: absolute;
  width: 20%;
  top: 40%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .slider__container .slider__social .slider__icon {
  margin-bottom: 2rem;
  color: #c49897;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider .slider__container .slider__social .slider__icon:hover {
  color: #d32020;
}

.slider .slider__container .slider__text {
  position: absolute;
  width: 20%;
  top: 40%;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .slider__container .slider__text .slider__label {
  color: #c49897;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.slider .slider__container .slider__text .slider__title {
  font-size: 3rem;
}

.slider .slider__container .slider__text .slider__link {
  margin-top: 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid #c49897;
  color: #c49897;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.slider .slider__container .slider__text .slider__link:hover {
  color: #d32020;
}

.shop .shop__container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop .shop__container .shop__card {
  max-width: calc(100% / 5 - 10px);
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0.5px solid rgba(196, 152, 151, 0.247);
  -webkit-box-shadow: 1px 1px 30px rgba(196, 152, 151, 0.247);
          box-shadow: 1px 1px 30px rgba(196, 152, 151, 0.247);
}

.shop .shop__container .shop__card .shop__card--image {
  position: relative;
  overflow: hidden;
  height: 400px;
  -o-object-position: top;
     object-position: top;
}

.shop .shop__container .shop__card .shop__card--image img {
  width: 100%;
}

.shop .shop__container .shop__card .shop__card--image .shop__card--overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 14px;
  text-align: center;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shop .shop__container .shop__card .shop__card--image .shop__card--overlay .shop__card--addCart {
  color: #c49897;
}

.shop .shop__container .shop__card:hover .shop__card--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.shop .shop__container .shop__card .shop__card--title {
  padding-left: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.shop .shop__container .shop__card .shop__card--price {
  padding-left: 0.5rem;
}

.shop .shop__container .shop__loading {
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cart {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 1600px;
  margin: auto;
}

.cart .cart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 2rem;
}

.cart .cart__list .cart__title {
  margin-bottom: 2rem;
}

.cart .cart__list .cart__items .cart__empty {
  font-size: 1.5rem;
  text-align: center;
}

.cart .cart__list .cart__items .cart__empty .cart__redirect {
  color: #d32020;
  cursor: pointer;
}

.cart .cart__list .cart__items .cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(196, 152, 151, 0.247);
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

.cart .cart__list .cart__items .cart__item .cart__item--image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100px;
}

.cart .cart__list .cart__items .cart__item .cart__item--name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 1rem;
}

.cart .cart__list .cart__items .cart__item .cart__item--price,
.cart .cart__list .cart__items .cart__item .cart__item--delete {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart .cart__list .cart__items .cart__item .cart__item--qty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  width: 100px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.cart .cart__list .cart__items .cart__item .cart__item--qty input::-webkit-outer-spin-button,
.cart .cart__list .cart__items .cart__item .cart__item--qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart .cart__list .cart__items .cart__item .cart__item--qty input[type="number"] {
  -moz-appearance: textfield;
}

.cart .cart__list .cart__items .cart__item .cart__item--qty .cart__item--increase,
.cart .cart__list .cart__items .cart__item .cart__item--qty .cart__item--decrease {
  width: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #c49897;
}

.cart .cart__list .cart__items .cart__item .cart__item--qty .cart__item--input {
  border: 1px solid #d6d0d0;
  margin: 10px;
  padding: 0.4rem 0.9rem;
  width: 60px;
  border-radius: 5px;
  text-align: center;
}

.cart .cart__list .cart__items .cart__item .cart__item--icon {
  color: red;
  font-size: 1.3rem;
}

.cart .cart__list .cart__subtotal {
  text-align: right;
}

.cart .cart__list .cart__subtotal .cart__subtotal--price {
  font-weight: bold;
  font-size: 1.2rem;
}

.cart .cart__payment {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(196, 152, 151, 0.247);
  border-radius: 5px;
  -webkit-box-shadow: 1px 5px 15px rgba(196, 152, 151, 0.247);
          box-shadow: 1px 5px 15px rgba(196, 152, 151, 0.247);
  margin-top: 2rem;
  padding: 2rem;
  height: 50vh;
}

.cart .cart__payment .cart__payment--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cart .cart__payment .cart__payment--wrapper .cart__payment--price {
  width: 70px;
}

.cart .cart__payment .cart-total {
  font-weight: bold;
  border-top: 1px solid rgba(196, 152, 151, 0.247);
  padding-top: 1rem;
}

.cart .cart__payment .cart__payment--button {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.8rem;
  margin-top: auto;
  background-color: #d32020;
  color: #fff;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */