.cart {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1600px;
  margin: auto;

  .cart__list {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 2rem;

    .cart__title {
      margin-bottom: 2rem;
    }

    .cart__items {
      .cart__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $cart-border;
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 5px;

        .cart__item--image {
          flex: 1;
          max-width: 100px;
        }

        .cart__item--name {
          flex: 2;
          padding: 1rem;
        }
        .cart__item--price,
        .cart__item--delete {
          flex: 1;
        }
        .cart__item--qty {
          flex: 1;
          margin: 0;
          width: 100px;
          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }
          .cart__item--increase,
          .cart__item--decrease {
            padding: 0.125rem 0.5rem;
            color: black;
            font-weight: bold;
            font-size: 1.2rem;
            cursor: pointer;
          }

          .cart__item--input {
            border: 1px solid rgb(214, 208, 208);
            margin: 10px;
            padding: 0.4rem 0.9rem;
            width: 40px;
            border-radius: 5px;
          }
        }
        .cart__item--icon {
          color: red;
          font-size: 1.3rem;
        }
      }
    }
    .cart__subtotal {
      text-align: right;

      .cart__subtotal--price {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  .cart__payment {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $cart-border;
    border-radius: 5px;
    box-shadow: 1px 5px 15px $cart-border;
    padding: 1rem;

    .cart__payment--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .cart-total {
      font-weight: bold;
      border-top: 1px solid $cart-border;
      padding-top: 1rem;
    }

    .cart__payment--button {
      border: none;
      cursor: pointer;
      font-size: 1.1rem;
      padding: 0.8rem;
      margin-top: auto;
      background-color: $dark-color;
      color: #fff;
      border-radius: 5px;
    }
  }
}
