.shop {
  .shop__container {
    padding: 2rem;
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .shop__card {
      max-width: calc(100% / 5 - 10px);
      margin: 1rem auto;
      padding: 1rem;
      transition: all $transition;
      border: 0.5px solid $cart-border;
      box-shadow: 1px 1px 30px $cart-border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .shop__card--image {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex: 1;
        img {
          max-width: 80%;
          margin: auto;
        }
        .shop__card--overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgb(0, 0, 0);
          padding: 14px;
          text-align: center;
          display: none;
          transition: all $transition;

          .shop__card--addCart {
            color: $light-color;
          }
        }
      }
      &:hover .shop__card--overlay {
        display: flex;
        color: white;
        font-size: 45px;
        border-radius: 50%;
        cursor: pointer;
      }

      .shop__card--title {
        padding-left: 0.5rem;
        margin-top: 1rem;
        font-weight: bold;
      }

      .shop__card--price {
        padding-left: 0.5rem;
      }
    }

    .shop__loading {
      width: 100px;
      justify-self: center;
    }
  }
}
